* {
    box-sizing: border-box;
}

body{
    font-family: Arial;
    margin: 0;
}

.header {
    padding: 10px;
    text-align: center;
    background: rgb(86, 175, 248);
    color: white;
}

.header h1 {
    font-size: 30px;
}
.header p {
    font-size: 15px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}
 
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
 
.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}
 
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}
 

.side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #ffffff;
    padding: 10px;
}

.sidenav {
    /* -ms-flex: 30%; */
    height: 100%;
    width: 500px;
    padding: 10px;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
}
 
.main {   
    -ms-flex: 20%; /* IE10 */
    flex: 20%;
    background-color: white;
    padding: 20px;
}

.pdfView{
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    height: 600px;
    background-color: white;
    padding: 10px;
}
 
.componentImg{
    background-color: #aaa;
    background-repeat: no-repeat;
    width: 100%;
    padding: 20px;
}

.footer {
    padding: 10px;
    text-align: center;
    background: #ddd;
}
 
@media screen and (max-width: 700px) {
    .row {   
        flex-direction: column;
    }
    .header h1 {
        font-size: 20px;
    }
    .header p {
        font-size: 10px;
    }
}
 
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
    .header h1 {
        font-size: 15px;
    }
    .header p {
        font-size: 10px;
    }
}

#searchBar {
    background-image: url('../img/searchicon.png'); /* search button */
    background-position: 10px 12px; 
    background-repeat: no-repeat;
    width: 100%;
    font-size: 14px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 5px; 
}
 
#cdTable{
    border-collapse: collapse; 
    width: 100%;
    border: 1px solid #ddd;
    font-size: 12px; 
}
 
#cdTable th, #cdTable td {
    text-align: left;
    padding: 12px;
    border: 1px solid #ddd;
}
 
#cdTable tr{
    /*table boarder*/
    border-bottom: 1px solid #ddd; 
}
 
#cdTable tr.header, #cdTable tr:hover {
    /*add color when mouse hover*/
    background-color: #b6b6b6;
}